In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [63]:
df=pd.read_csv('data/Amazon_top5_mobilephones.csv')

In [64]:
df.isna().sum()

Description     0
Price           0
Rating         22
ReviewCount     0
Url             0
dtype: int64

In [65]:
df=df.dropna(axis=0)

In [66]:
Rating_split=df['Rating'].str.split(" out of 5 stars")

In [67]:
df['Rating']=Rating_split.str.get(0)

In [68]:
df["Rating"] = pd.to_numeric(df["Rating"])

In [69]:
df["Rating"]

0       4.6
1       4.5
2       4.5
3       4.6
4       4.6
       ...
1898    4.1
1899    3.6
1900    4.2
1901    4.1
1902    4.0
Name: Rating, Length: 1881, dtype: float64

In [70]:
df['ReviewCount']=df['ReviewCount'].str.replace(",","")

In [83]:
df['ReviewCount']=df['ReviewCount'].replace('No reviews',np.NaN)

In [84]:
df.isna().sum()

Description     0
Price           0
Rating          0
ReviewCount    20
Url             0
dtype: int64

In [85]:
df=df.dropna(axis=0)

In [86]:
df["ReviewCount"] = pd.to_numeric(df["ReviewCount"])

C:\Users\5-16\AppData\Local\Temp\ipykernel_8616\3092281316.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ReviewCount"] = pd.to_numeric(df["ReviewCount"])

In [89]:
df.dtypes

Description     object
Price            int64
Rating         float64
ReviewCount      int64
Url             object
dtype: object